// 格式
.fd-column{
    flex-direction: column;
}
.d-flex {
    display: flex;
}

// 對齊
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: end;
}
.jc-between{
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.ai-center{
    align-items: center;
}
.ta-center{
    text-align: center;
}

// 樣式
.btn{
    padding: 6px 12px;
    display: inline-block;
}
.title {
    font-size: 4rem;
}

.medium {
    font-size: 1.25rem;
}

// 顏色
.dark-color {
    color: $dark-color;
}

.light-color {
    color: $light-color;
}

.main-color {
    color: $main-color;
}
.font-color{
    color: $font-color;
}
.bg-dark{
    background: $dark-color;
}
.bg-main{
    background: $main-color;
}