<nav class="blog__nav">
    <div class="blog__nav__box container d-flex jc-between ai-center">
        <ul class="blog__nav__links d-flex">
            <li><a class="blog__nav__link white font-20 mr-48" href="">最新消息</a></li>
            <li><a class="blog__nav__link white font-20 mr-48" href="">特別企劃</a></li>
            <li><a class="blog__nav__link white font-20 mr-48" href="">新品上市</a></li>
            <li><a class="blog__nav__link white font-20" href="">鏡框小知識</a></li>
        </ul>
        <a class="blog__nav__link blog__nav__link__icon white" href=""><span class="material-symbols-outlined">
                search</span></a>
    </div>
</nav>