<div class="footer bg-main pb-32">
    <div class="container">
        <div class="d-flex jc-between">
            <div>
                <nav class="footer__nav mb-40">
                    <ul class="d-flex">
                        <li><a class="white mr-48 footer__nav__link" href="">首頁</a></li>
                        <li><a class="white mr-48 footer__nav__link" href="">系列鏡框</a></li>
                        <li><a class="white mr-48 footer__nav__link" href="">門市據點</a></li>
                        <li><a class="white mr-48 footer__nav__link" href="">部落格</a></li>
                        <li><a class="white mr-48 footer__nav__link" href="">部落格</a></li>
                    </ul>
                </nav>
                <div class="footer__contact">
                    <p class="footer__text white mb-8">
                        <span class="footer__icon material-symbols-outlined mr-20
                        mr-20 pt-8">call</span>
                        0800-000-000
                    </p>
                    <p class="footer__text white">
                        <span class="footer__icon material-symbols-outlined mr-20
                        mr-20 pt-8">mail</span>
                        glasses@business.com
                    </p>
                </div>
            </div>
            <div class="footer__sns">
                <a class="footer__sns__link" href="">
                    <img class="footer__logo"
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                        alt="facebook-LOGO">
                </a>
                <a class="footer__sns__link" href="">
                    <img class="footer__logo ml-32"
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                        alt="instagram-LOGO">
                </a>
                <a class="footer__sns__link" href="">
                    <img class="footer__logo ml-32"
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                        alt="line-LOGO">
                </a>
            </div>
        </div>
        <hr>
        <div class="footer__copyright d-flex jc-between pt-32-pb-32">
            <p class="white">Copyright © 2020 Glasses.All rights reserved.</p>
            <nav>
                <ul class="footer__copyright__nav d-flex">
                    <li class="footer__copyright__li"><a class="footer__copyright__link white" href="">隱私權政策</a></li>
                    <li class="footer__copyright__li"><a class="footer__copyright__link white ml-48" href="">服務條款</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>




