<div class="header bg-main">
    <div class="header__item container d-flex jc-between">
        <a class="header__logo" href="index.html">首頁連結</a>
        <nav class="d-flex">
            <ul class="header__nav d-flex ai-center">
                <li class="header__nav__li"><a class="header__link light-color" href="product.html">系列鏡框</a></li>
                <li class="header__nav__li ml-64"><a class="header__link light-color" href="shop.html">門市據點</a></li>
                <li class="header__nav__li ml-64"><a class="header__link light-color" href="#">部落格</a></li>
                <li class="header__nav__li ml-64"><a class="header__link light-color" href="#">常見問題</a></li>
            </ul>
        </nav>
    </div>
    <nav class="">
        <ul class="header__nav__sm--on">
            <li class="header__nav__li"><a class="header__link light-color" href="product.html">系列鏡框</a></li>
            <li class="header__nav__li"><a class="header__link light-color" href="shop.html">門市據點</a></li>
            <li class="header__nav__li"><a class="header__link light-color" href="#">部落格</a></li>
            <li class="header__nav__li"><a class="header__link light-color" href="#">常見問題</a></li>
        </ul>
    </nav>
</div>