<div class="pages__title mt-16 mb-32">
    <div class="pages__title__border"></div>
    <h1 class="pages__h1 font-xxl mb-32 pl-16"></h1>
</div>

<script>
    
    window.onload = function () {
        let str = location.pathname;
        let pages = ["shop", "faq", "blog"];
        let pagesZh = ["門市據點", "常見問題", "部落格"];
        
        pages.forEach(function(page, index){
            if(str.indexOf(page) != -1)
            document.querySelector(".pages__h1").innerHTML = pagesZh[index];
        })
    }

</script>