<div class="product__spec container">
    <nav>
        <ul class="product__spec__nav d-flex jc-around font-xl ta-center">
            <li>
                <a class="product__spec__link roboto dark-color" href="#">OPTICAL
                </a>
                <span class="optical"></span>
            </li>
            <li>
                <a class="product__spec__link roboto dark-color" href="#">SUNGLASSES
                </a>
                <span class="sunglasses"></span>
            </li>
            <li>
                <a class="product__spec__link roboto dark-color" href="#">FUNCTIONAL
                </a>
                <span class="functional"></span>
            </li>
        </ul>
    </nav>
</div>