<div class="product__spec container">
    <nav>
        <ul class="product__spec__nav d-flex jc-around font-xl ta-center">
            <li>
                <a class="product__spec__link roboto dark-color" href="product.html">OPTICAL
                </a>
                <span class="optical"></span>
            </li>
            <li>
                <a class="product__spec__link roboto dark-color" href="sunglasses.html">SUNGLASSES
                </a>
                <span class="sunglasses"></span>
            </li>
            <li>
                <a class="product__spec__link roboto dark-color" href="#">FUNCTIONAL
                </a>
                <span class="functional"></span>
            </li>
        </ul>
    </nav>
</div>


<script>
    window.onload = function(){
        let str = location.pathname.split("/");
        let newStr = str[str.length - 1].split('.');
        
        if(newStr[0] === "product"){
            newStr[0] = "optical";
        }

        document.querySelector(`.${newStr[0]}`).classList.add("active");
    }
</script>