.blog__nav {
    background: $font-color;
    padding: 0.75rem 0;

    &__link {
        &:hover {
            background: $white;
            color: $main-color;
        }

        @include media-576 {
            margin-right: 1rem;
            font-size: 1rem;
        }
    }

    @include media-480 {
        &__link {
            margin-right: 0;

            &__icon {
                display: none;
            }
        }

        &__box {
            display: block;
        }

        &__links {
            justify-content: space-between;
        }
    }

    span {
        font-size: 30px;
        display: block;
    }
}