.footer{
    &__logo{
        width: 48px;
        height: 48px;
    }
    &__nav__link:hover{
        @include link-hover-padding;
    }
    &__sns__link:hover{
        .footer__logo{
            @include img-hover-zoom-in;
        }
    }
    &__text{
        font-size: 2.25rem;
        display: block;
        &:hover{
            background: $white;
            color: $main-color;
        }
    }
    &__icon{
        font-size: 2.5rem;
        display: inline-block;
    }
    hr{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__copyright__link{
        &:hover{
            @include link-hover-padding;
        }
    }
            

}
@media (max-width: 768px){
    .footer{
        padding-top: 3.75em;
        padding-bottom: 40px;
        &__logo{
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 16px;
        }
        &__copyright{
            font-size: 14px;
        }
    }
}

@media (max-width: 696px){
    .footer{
        &__nav a{
            margin-right: 1.5rem;
        }
        &__sns__link{
            display: block;
            margin-right: 0;
            margin-bottom: 1rem;
        }
        &__text{
            font-size: 1.25rem;
        }
        &__copyright{
            text-align: center;
            flex-direction: column;
            &__li{
                margin-top: 0.5rem;
            }
            &__link{
                display: block;
                padding: 0.75rem 0;
                margin-left: 0;
            }
            &__nav{
                display: block
            }
        }
        hr{
            margin: 1.25rem 0;
        }
    }
}

@media (max-width: 480px){
    .footer{
        &__nav ul{
            display: block;
            margin-bottom: 0.25rem;
        }
        &__sns{
            display: flex;
        }
    }
}


@media (max-width: 375px){
    .footer{
        padding: 1.5rem 0;
        &__nav{
            display: none;
        }
        &__icon{
            font-size: 1.25rem;
        }
        &__text{
            font-size: 1rem;
        }
        &__logo{
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 0.5rem;
        }
        &__copyright{
            text-align: start;            
        }
    }
}