.header {
    padding: 0.75rem 0;

    &__logo {
        @include img-hide-text;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true");
        width: 5rem;
        height: 3rem;
        background-size: cover;
    }

    &__nav {
        justify-content: end;
    }
    &__link {
        font-size: 1.25rem;
    }
}