.header {
    padding-top: 0.75rem;

    &__logo {
        @include img-hide-text;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true");
        width: 5rem;
        height: 3rem;
        background-size: cover;
    }

    &__nav {
        justify-content: end;
        &__sm--on{
            display: none;
        }
    }
    &__link {
        font-size: 1.25rem;
        &:hover{
            @include link-hover-padding;
        }
    }

    @media (max-width: 375px){
        .header{
            &__item{
                flex-direction: column;
            }
            &__logo{
                margin-bottom: 1rem;
            }
            &__nav{
                display: none;
                &__sm--on{
                    display: flex;
                    flex-wrap: wrap;
                }
                &__li{
                    padding: 0.75rem 0;
                    width: 50%;
                    text-align: center;
                    border: 1px solid $white;
                    font-size: 1.5rem;
                }
            }
        }
    }
}