.product__spec {
    &__nav {
        max-width: 100%;

        li {
            width: 33.333%;
            position: relative;
        }
    }

    &__link {
        display: block;
        border: 1px solid #DCDCDC;
        width: 100%;
        padding: 1.5rem 0;

        &:hover {
            color: $white;
            background: lighten($primary, 40%);
        }
    }

    .active {
        position: absolute;
        display: none;
        display: inline-block;
        width: 100%;
        height: 8px;
        background: $primary;
        left: 0;
        bottom: 0;
    }

    @include pad {
        max-width: 100%;
        padding: 0;
    }

    @include media-696 {
        &__link {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    @include media-576 {
        &__link {
            font-size: 1rem;
        }
    }
}