.blog {
    &__article {
        position: relative;

        &__text {
            @include text-overflow-hidden;
        }

        &__more__link {
            display: none;
        }
    }

    @include media-992 {
        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1rem;
        }

        &__card__item {
            margin-bottom: 2.5rem;
        }

        &__article__text {
            font-size: 16px;
        }

        &__article__link {
            font-size: 1.25rem;
        }
    }

    @include pad {
        &__card__item {
            margin-bottom: 1.5rem;
        }

        &__article__link {
            display: none;
        }

        &__article__more__link {
            position: absolute;
            display: block;
            right: 15px;
            bottom: 0;
            background: $white;
        }
    }

    @include media-576 {
        &__article__text {
            font-size: 1rem;
        }

        &__article__more__link {
            display: none;
        }
    }

    @include mobile {
        &__article__text {
            display: none;
        }

        time,
        h3 {
            font-size: 1rem;
        }

        &__card__photo {
            margin-bottom: 0.5rem;
        }

        &__card__lastItem {
            margin-bottom: 3rem;
        }
    }
}