body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.main {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
    @include bg-img-cover;

    &__article {
        text-align: end;
        height: 787px;
    }

    &__text {
        font-size: 2.25rem;
    }

    h1 {
        font-weight: bold;
        margin-bottom: 0.25rem;
        font-size: 4rem;
    }

    &__btn {
        font-size: 1.25rem;

        &:hover {
            color: $main-color;
            background: $light-color;
        }
    }
}


.aboutUs {
    &__title {
        margin-bottom: 2rem;
    }

    &__icon {
        font-size: 6.25rem;
    }
}

.collaborate {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");

    &__item {
        width: 100%;
    }

    &__design1 {
        max-width: 100%;
        height: 240px;
        @include bg-img-cover;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true");
    }

    &__design2 {
        max-width: 100%;
        height: 240px;
        @include bg-img-cover;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true");
    }

    &__lg--of {
        display: none;
    }
}

.recommender {
    &__card {
        @include box-shadow;
    }

    &__article {
        height: 205px;
    }
}

.connection {
    &__text {
        font-size: 1.25rem;
    }

    &__link:hover {
        background: $main-color;
        color: $white;
    }

    &__input {
        display: block;
        width: 100%;
    }

    &__checkbox {
        width: 1rem;
        height: 1rem;
    }

    &__textarea {
        resize: none;
    }

    &__submit:hover {
        cursor: pointer;
    }
}

// rwd 992
@include media-992 {
    .classic {
        h3 {
            font-size: 2rem;
        }
    }
}

// rwd 768
@include pad {
    .main {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    }

    .classic {
        h3 {
            font-size: 3rem;
        }

        &__model {
            flex-direction: column;
            align-items: center;
        }
    }

    .collaborate {
        &__box {
            display: block;

            .md-mb-24 {
                margin-bottom: 1.5rem;
            }
        }
    }

    .recommender {
        padding-bottom: 3.25rem;

        &__card {
            margin-bottom: 1.5rem;
        }

        .col-md-mb-48 {
            margin-bottom: 3rem;
        }
    }
}

// rwd 696
@include media-696 {
    .main {
        &__text {
            font-size: 1.5rem;
        }

        h1 {
            font-size: 2.5rem;
        }
    }

    .aboutUs {
        &__title {
            font-size: 1.75rem;
        }
    }

    .classic {
        h3 {
            font-size: 2.5rem;
        }
    }
}

// rwd 576
@include media-576 {
    .classic {
        h3 {
            font-size: 3rem;
        }
    }
}

// rwd 375px
@include mobile {
    .main {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
        background-size: contain;

        &__text {
            font-size: 1rem;
        }

        &__article {
            height: 396px;
            text-align: end;
        }

        h1 {
            font-size: 1.5rem;
        }
    }

    .aboutUs {
        padding: 2.5rem 0;

        &__title {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        &__item {
            margin-top: 2rem;

            h3 {
                margin-top: 1.25rem;
            }
        }
    }

    .classic {
        padding: 2.5rem 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0;
        }

        h3 {
            font-size: 3rem;
        }

        &__model__item {
            margin-top: 1.5rem;
        }
    }

    .collaborate {
        padding: 2.5rem 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        &__design1 {
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true");
        }

        &__design2 {
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true");
        }
    }

    .recommender {
        padding: 2.5rem 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        &__card {
            margin-bottom: 1rem;
        }

        .mb-72 {
            margin-bottom: 4.5rem;
        }
    }

    .connection {
        padding: 2.5rem 0;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
}