.product {
    &__photo {
        width: 100%;
    }

    &__photo__item1 {
        max-width: 100%;
        height: 240px;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true");
        @include bg-img-cover;
    }

    &__photo__item2 {
        max-width: 100%;
        height: 240px;
        @include bg-img-cover;
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true");
    }

    @include pad {
        .container {
            width: 100%;
        }

        &__photo__item1 {
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true");
        }

        &__photo__item2 {
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true");
        }
    }
}