// rwd 768
@media (max-width: 768px) {
    .shop__info {
        &--rwd {
            margin-bottom: 1.5rem;
            width: 50%;

            img {
                display: none;
            }
        }

        &__photo {
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/storepage-1.png?raw=true");
            @include bg-img-cover;
            padding-right: 12px;
            margin-right: 12px;
        }

        &__text {
            margin-left: 12px;
        }

        &__card {
            display: flex;
        }

        &__local__map {
            height: 414px;
        }

        @include media-696 {
            &__text {
                h2 {
                    font-size: 20px;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        @include media-576 {
            &__card {
                display: block;
            }

            &--rwd {
                width: 100%;
                margin-left: 0;
                margin-right: 0;

                img {
                    display: block;
                }
            }

            &__photo {
                margin-bottom: 0;
            }

            &__text {
                h2 {
                    font-size: 24px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}