<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week3 眼鏡官網-部落格-情人特別企劃</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
</head>

<body>
    <%- include("./layout/header"); -%>
    <%- include("./layout/blog_nav"); -%>
    
        <div class="valentine"> 
            <div class="container">     
                <div class="row">
                    <div class="valentine__main col-8">
                        <nav class="mt-24">
                            <ul class="d-flex">
                                <li><a class="valentine__nav__link" href="index.html">首頁</a> <span class="valentine__nav__span">/</span></li>
                                <li><a class="valentine__nav__link" href="blog.html">部落格</a> <span class="valentine__nav__span">/</span></li>
                                <li><a class="valentine__nav__link" href="">特別企劃</a> <span class="valentine__nav__span">/</span></li>
                                <li><a class="valentine__nav__link main-color" href="blog-2020-Valentine.html">情人特別企劃</a></li>
                            </ul>
                        </nav>
                        <div class="valentine__main__tags mt-8 mb-8">
                            <span class="main-color font-lg font-bold mr-16">#special</span>
                            <span class="main-color font-lg font-bold mr-16">#event</span>
                        </div>
                        <h1 class="font-xxl">情人特別企劃</h1>
                        <h2 class="font-lg font-medium">2020 Valentine’s Special</h2>
                        <ul class="valentine__card mt-16">
                            <li class="valentine__item mb-40">
                                <div class="valentine__card__photo mb-8"><img
                                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-1.png?raw=true"
                                        alt="部落格-情人特別企劃-情侶照1"></div>
                                <div class="valentine__card__article article-font-color">
                                    <p>
                                        一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 
                                        本次拍攝的鏡框款式與 NEEDS CLASSIC
                                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                    </p>
                                </div>
                            </li>
                            <li class="valentine__item mb-40">
                                <div class="valentine__card__photo mb-8"><img
                                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-2.png?raw=true"
                                        alt="部落格-情人特別企劃-商品照1"></div>
                                <div class="valentine__card__article article-font-color">
                                    <p>
                                        一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 
                                        本次拍攝的鏡框款式與 NEEDS CLASSIC
                                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                    </p>
                                </div>
                            </li>
                            <li class="valentine__item mb-40">
                                <div class="valentine__card__photo mb-8"><img
                                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-3.png?raw=true"
                                        alt="部落格-情人特別企劃-商品照2"></div>
                                <div class="valentine__card__article article-font-color">
                                    <p>
                                        一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br> 
                                        本次拍攝的鏡框款式與 NEEDS CLASSIC
                                        聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                                    </p>
                                </div>
                            </li>
                            <li class="valentine__item mb-40">
                                <div class="valentine__card__photo mb-8"><img
                                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-4.png?raw=true"
                                        alt="部落格-情人特別企劃-情侶照2"></div>
                                <div class="valentine__card__article article-font-color">
                                    <p>
                                        2/14(五)-2/20(日) 至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 <br>
                                        期間優惠還有~~持他牌鏡框更換鏡片 <br>
                                        薄型非球面鏡片折300元<br>
                                        濾藍光鏡片折500元 <br>
                                        快快帶上另一半 讓彼此每一次睜開眼，都被愛的視線包圍!
                                    </p>
                                </div>
                            </li>
                        </ul>

                        <div class="valentine__sns__share d-flex mb-20">
                            <h3 class="font-bold">Share</h3>
                            <a href="">
                                <img class="valentine__sns__share__logo ml-16" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-facebook.png?raw=true" alt="logo-facebook">
                            </a>
                            <a href="">
                                <img class="valentine__sns__share__logo ml-16" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-instagram.png?raw=true" alt="logo-instagram">
                            </a>
                        </div>
                    </div>

                    <div class="valentine__all__tags col-4 mt-100">
                        <div class="d-flex ai-center">
                            <span class="valentine__tags__icon main-color material-symbols-outlined">
                                label
                            </span>
                            <h3 class="main-color font-xl font-bold ">TAGS</h3>
                        </div>
                        <span class="main-color font-lg font-bold mr-24 mt-4">#special</span>
                        <span class="main-color font-lg font-bold mr-24 mt-4">#sale</span>
                        <br>
                        <span class="main-color font-lg font-bold mr-24 mt-4">#new_item</span>
                        <span class="main-color font-lg font-bold mr-24 mt-4">#interview</span>
                        <br>
                        <span class="main-color font-lg font-bold mr-24 mt-4">#trivia</span>
                        <span class="main-color font-lg font-bold mr-24 mt-4">#news</span>
                        <br>
                        <span class="main-color font-lg font-bold mr-24 mt-4">#event</span>
                    </div>
                    
                    <div class="blog__change__page col-8 col-md-12 mb-80">
                        <hr>
                        <div class="d-flex jc-between">
                            <a class="blog__change__page__link dark-color" href=""><span class="material-symbols-outlined mr-12">
                                arrow_back</span>上一篇：街頭潮人訪問 1
                            </a>
                            <a class="blog__change__page__link dark-color" href="">下一篇：街頭潮人訪問 2<span class="material-symbols-outlined ml-12">
                                arrow_forward</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("./layout/footer"); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>