<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week3 Homework</title>
</head>
<body>    
    
    <%- include("./layout/header"); -%>

    <div class="block-1">
        <div class="container">
            <div class="block-1--article row d-flex fd-column jc-center">
                <p class="block-1--text font-color">Promise-Desert 2020 早春系列</p>
                <h1 class="font-color title">看得清，才能看得遠</h1>
                <div class="">
                    <a class="block-1--btn light-color btn bg-main" href="">立即購買</a>
                </div>
            </div>
        </div>
    </div>

    <%- include("./layout/footer"); -%>
    <script src="../main.js"></script>
</body>
</html>