<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week3 眼鏡官網-商品頁</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0" />
</head>

<body>
    <%- include("./layout/header"); -%>
    <%- include("./layout/product_spec"); -%>
    
    <div class="product">
        <div class="product__bg d-flex">
            <div class="product__photo">
                <div class="product__photo__item1"></div>
            </div>
            <div class="product__photo">
                <div class="product__photo__item2"></div>
            </div>
        </div>

        <div class="product__main py-80">
            <h1 class=" font-42 ta-center">Celluloid Combi</h1>
            <h2 class="font-xl ta-center mb-32">賽璐珞鈦金屬混合鏡框</h2>
            <div class="container">
                <ul class="row">
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                    <li class="col-3 col-md-6 col-sm-12">
                        <img class="hover-opacity" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="眼鏡商品圖片">
                        <div class="d-flex jc-between">
                            <p>BJ41600S</p>
                            <p class="main-color font-weight">NTD3,490</p>
                        </div>
                        <div class="d-flex mb-80">
                            <div class="mr-8 color-block bg-dark-brown"></div>
                            <div class="color-block bg-light-brown"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <%- include("./layout/pagination"); -%>
        
        </div>
    </div>
    
    <%- include("./layout/footer"); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>