<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week3 眼鏡官網-Shop</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,500,0,-25" />
</head>

<body>
    <%- include("./layout/header"); -%>

        <div class="shop block-padding">
            <div class="container">

            <%- include("./layout/pages_title"); -%>

                <div class="mb-40">
                    <div>
                        <label class="shop__label d-flex font-lg font-normal" for="shops">選擇地區
                            <select class="shop__select ml-16" name="shops" id="shops">
                                <option value="taipei">台北市</option>
                                <option value="taichung">台中市</option>
                                <option value="kaohsiung">高雄市</option>
                            </select>
                        </label>
                    </div>
                </div>

                <ul class="shop__card row">
                    <li class="shop__card__item col-4 col-md-6 col-sm-12 mb-48">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                            alt="門市照片-中山旗艦店">
                        <div class="shop__card__item--border shop__card__item__title">
                            <h2 class="font-lg font-normal">台北中山旗艦店</h2>
                        </div>
                        <div class="shop__card__item--border shop__card__item__text d-flex fd-column">
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    call</span>電話：(02)000-1234</p>
                            <p class="d-flex margin-upDown"><span class="material-symbols-outlined mr-12">
                                    schedule</span>營業時間：10:00-21:00</p>
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    location_on</span>地址：台北市中山區南京東路25巷2-1號</p>
                        </div>
                        <a class="shop__card__link bg-dark white ta-center" href="shop-taipei-chungshan.html">詳細資訊</a>
                    </li>
                    <li class="shop__card__item col-4 col-md-6 col-sm-12 mb-48">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
                            alt="門市照片-台北緣園店">
                        <div class="shop__card__item--border shop__card__item__title">
                            <h2 class="font-lg font-normal">台北綠園店</h2>
                        </div>
                        <div class="shop__card__item--border shop__card__item__text d-flex fd-column">
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    call</span>電話：(02)000-2345</p>
                            <p class="d-flex margin-upDown"><span class="material-symbols-outlined mr-12">
                                    schedule</span>營業時間：10:00-21:00</p>
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    location_on</span>地址：台北市中正區復興南路 132-1 號</p>
                        </div>
                        <a class="shop__card__link bg-dark white ta-center" href="#">詳細資訊</a>
                    </li>
                    <li class="shop__card__item col-4 col-md-6 col-sm-12 mb-48">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
                            alt="門市照片-台中清水旗艦店">
                        <div class="shop__card__item--border shop__card__item__title">
                            <h2 class="font-lg font-normal">台中清水旗艦店</h2>
                        </div>
                        <div class="shop__card__item--border shop__card__item__text d-flex fd-column">
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    call</span>電話：(02)000-1234</p>
                            <p class="d-flex margin-upDown"><span class="material-symbols-outlined mr-12">
                                    schedule</span>營業時間：10:00-21:00</p>
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    location_on</span>地址：台中市清水區經南一路 23 號 8 樓</p>
                        </div>
                        <a class="shop__card__link bg-dark white ta-center" href="#">詳細資訊</a>
                    </li>
                    <li class="shop__card__item col-4 col-md-6 col-sm-12 mb-48">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
                            alt="門市照片-高雄中正形象店">
                        <div class="shop__card__item--border shop__card__item__title">
                            <h2 class="font-lg font-normal">高雄中正形象店</h2>
                        </div>
                        <div class="shop__card__item--border shop__card__item__text d-flex fd-column">
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    call</span>電話：(07)000-2345</p>
                            <p class="d-flex margin-upDown"><span class="material-symbols-outlined mr-12">
                                    schedule</span>營業時間：10:00-21:00</p>
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    location_on</span>地址：高雄市苓雅區中正路 38 號 12 樓</p>
                        </div>
                        <a class="shop__card__link bg-dark white ta-center" href="#">詳細資訊</a>
                    </li>
                    <li class="shop__card__item col-4 col-md-6 col-sm-12 mb-48">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
                            alt="門市照片-高雄夢時代店">
                        <div class="shop__card__item--border shop__card__item__title">
                            <h2 class="font-lg font-normal">高雄夢時代店</h2>
                        </div>
                        <div class="shop__card__item--border shop__card__item__text d-flex fd-column">
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    call</span>電話：(07)000-1234</p>
                            <p class="d-flex margin-upDown"><span class="material-symbols-outlined mr-12">
                                    schedule</span>營業時間：10:00-21:00</p>
                            <p class="d-flex "><span class="material-symbols-outlined mr-12">
                                    location_on</span>地址：高雄市前鎮區中華一路 63 號 6 樓</p>
                        </div>
                        <a class="shop__card__link bg-dark white ta-center" href="#">詳細資訊</a>
                    </li>
                </ul>

            </div>
        </div>

        <%- include("./layout/footer"); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>